<div class='match-card'>
  <div class="row center">
    <div class="col s12 m6">
      <div class="card #eceff1 blue-grey lighten-5">
        <div class="card-content white-text">
          <span class="card-title"> No Matches Found</span>
            <br>
            <p> Please create a new run or start a new search to find potential matches! </p>
        </div>
      </div>
    </div>
  </div>
<div class='match-card'>
