<div class ="container">
<h2> About Run2gether </h2>
<p> blurb about what inspired this project etc etc etc </p>

<h3> The Team: </h3>
<!-- Cat -->
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/office.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Catherine Khuu<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/catkhuu">Catherine's Github</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Catherine Khuu<i class="material-icons right">close</i></span>
      <p>Catherine is the fearless group leader of R2G, with the inital vision that made this project a reality. Hard-working and fast-typing, Catherine brings a unique spunk that the group would be incomplete without. In her spare time, she can be found looking at pictures of corgis, petting corgis, chasing after people she sees walking corgis, and planning for the day when she owns her own corgi.</p>
    </div>
  </div>
<!-- Miles -->
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/office.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Miles McArdle-Coe<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/Kndekaru/">Miles's Github</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Miles McArdle-Coe<i class="material-icons right">close</i></span>
      <p>Hailing from Pennsylvania, </p>
    </div>
  </div>
  <!-- Matt -->
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/office.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Matt Critelli<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/mattcritelli/">Matt's Github</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Matt Critelli<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
  <!-- Lindsay -->
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/office.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Lindsay Kelly<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/lindsaymkelly/">Lindsay's Github</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Lindsay Kelly<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>

