<div class ="container">
<h2> About Run2gether </h2>
<p> The idea for Run2gether came about due to a need within the running community. While there are many apps in the world that help track your pace, your speed, your distance, and so on, there really aren't any applications that facilitate social running. With anything in life, goals are often achieved more easily when you have someone to share the journey with. A companion, an accountabili-buddy, however you want to phrase it. People go farther when they do it <i>together.</i> Thus, Run2gether was created.</p>
<div class="team-bios">
  <h3> The Team: </h3>
  <!-- Cat -->
    <div class="card bio">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/office.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Catherine Khuu<i class="material-icons right">more_vert</i></span>
        <p><a href="https://github.com/catkhuu">Catherine's Github</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Catherine Khuu<i class="material-icons right">close</i></span>
        <p>Catherine is the fearless group leader of R2G, with the inital vision that made this project a reality. Hard-working and fast-typing, Catherine brings a unique spunk that the group would be incomplete without. In her spare time, she can be found looking at pictures of corgis, petting corgis, chasing after people she sees walking corgis, and planning for the day when she owns her own corgi.</p>
      </div>
    </div>
  <!-- Miles -->
    <div class="card bio">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/office.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Miles McArdle-Coe<i class="material-icons right">more_vert</i></span>
        <p><a href="https://github.com/Kndekaru/">Miles's Github</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Miles McArdle-Coe<i class="material-icons right">close</i></span>
        <p>Hailing from Pennsylvania, Miles is another member of the R2G team. His wit, snark, and diligence makes him an invaluable asset to this (and any) project. Apart from focusing on Ajax, Miles also enjoys wearing silly hats, flying planes, and referring to things as 'dope'.</p>
      </div>
    </div>
    <!-- Matt -->
    <div class="card bio">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/office.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Matt Critelli<i class="material-icons right">more_vert</i></span>
        <p><a href="https://github.com/mattcritelli/">Matt's Github</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Matt Critelli<i class="material-icons right">close</i></span>
        <p>Marketing-minded and master of maps, Matt is another member of the team that brought Run2gether to life. His calm nature and focus on understanding the bigger picture makes him always ready to step up to a challenging task. Matt's favorite pastimes include traveling, wearing plaid, and defending Billy Joel's honor. </p>
      </div>
    </div>
    <!-- Lindsay -->
    <div class="card bio">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/office.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Lindsay Kelly<i class="material-icons right">more_vert</i></span>
        <p><a href="https://github.com/lindsaymkelly/">Lindsay's Github</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Lindsay Kelly<i class="material-icons right">close</i></span>
        <p>Rounding out the group is Lindsay. Her work ethic combines ambition with pragmatism, and she tries to stay level headed even in the face of adversity ('tries' being the operative word). Outside of coding, her hobbies include making bad puns, collecting Pusheen the Cat merchandise, and writing silly blurbs about her team mates. </p>
      </div>
    </div>
  </div>
</div>

