<div class ="center container">
  <h2 class="#e53935 red-text text-darken-1"><b> About Run2gether </b></h2>
    <p class="about-us"> The idea for Run2gether came about due to a need within the running community. While there are many apps in the world that help track your pace, your speed, your distance, and so on, there really aren't any applications that facilitate social running. With anything in life, goals are often achieved more easily when you have someone to share the journey with. A companion, an accountabili-buddy, however you want to phrase it. People go farther when they do it <i>together.</i> Thus, Run2gether was created.</p>
  <div class="row">
    <div class="col s12">
      <h3 class="#e53935 red-text text-darken-1"><b> The Team:</b> </h3>
    </div>
  </div>
  <!-- Cat -->
  <div class="row">
    <div class="col s6">
      <div class="card bio">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://avatars2.githubusercontent.com/u/19142117?v=3&s=400">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Catherine Khuu<i class="material-icons right">more_vert</i></span>
          <p><a href="https://github.com/catkhuu">Catherine's Github</a></p>
        </div>
        <div class="card-reveal about-text">
          <span class="card-title grey-text text-darken-4">Catherine Khuu<i class="material-icons right">close</i></span>
          <p class="#e53935 red-text text-darken-1">Catherine is the fearless group leader of R2G, with the inital vision that made this project a reality. Hard-working and fast-typing, Catherine brings a unique spunk that the group would be incomplete without. In her spare time, she can be found looking at pictures of corgis, petting corgis, chasing after people she sees walking corgis, and planning for the day when she owns her own corgi.</p>
        </div>
      </div>
    </div>
  <!-- Miles -->
    <div class="col s6">
      <div class="card bio">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://avatars2.githubusercontent.com/u/18543788?v=3&s=400">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Miles McArdle-Coe<i class="material-icons right">more_vert</i></span>
          <p><a href="https://github.com/Kndekaru/">Miles's Github</a></p>
        </div>
        <div class="card-reveal about-text">
          <span class="card-title grey-text text-darken-4">Miles McArdle-Coe<i class="material-icons right">close</i></span>
          <p class="#e53935 red-text text-darken-1">Hailing from Pennsylvania, Miles is another member of the R2G team. His wit, snark, and diligence makes him an invaluable asset to this (and any) project. Apart from focusing on Ajax, Miles also enjoys wearing silly hats, flying planes, and referring to things as 'dope'.</p>
        </div>
      </div>
    </div>
  </div>
    <!-- Matt -->
  <div class="row">
    <div class="col s6">
      <div class="card bio">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://avatars1.githubusercontent.com/u/16655326?v=3&s=400">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Matt Critelli<i class="material-icons right">more_vert</i></span>
          <p><a href="https://github.com/mattcritelli/">Matt's Github</a></p>
        </div>
        <div class="card-reveal about-text">
          <span class="card-title grey-text text-darken-4">Matt Critelli<i class="material-icons right">close</i></span>
          <p class="#e53935 red-text text-darken-1">Marketing-minded and master of maps, Matt is another member of the team that brought Run2gether to life. His calm nature and focus on understanding the bigger picture makes him always ready to step up to a challenging task. Matt's favorite pastimes include traveling, wearing plaid, and defending Billy Joel's honor. </p>
        </div>
      </div>
    </div>
    <div class="col s6">
      <!-- Lindsay -->
      <div class="card bio">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://avatars3.githubusercontent.com/u/20649112?v=3&s=400">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Lindsay Kelly<i class="material-icons right">more_vert</i></span>
          <p><a href="https://github.com/lindsaymkelly/">Lindsay's Github</a></p>
        </div>
        <div class="card-reveal about-text">
          <span class="card-title grey-text text-darken-4">Lindsay Kelly<i class="material-icons right">close</i></span>
          <p class="#e53935 red-text text-darken-1">Rounding out the group is Lindsay. Her work ethic combines ambition with pragmatism, and she tries to stay level headed even in the face of adversity ('tries' being the operative word). Outside of coding, her hobbies include making bad puns, collecting Pusheen the Cat merchandise, and writing silly blurbs about her team mates. </p>
        </div>
      </div>
    </div>
  </div>
</div>

