<!DOCTYPE html>
<html lang="en">
<head>

</head>
  <body>
    <div class="carousel carousel-slider center" data-indicators="true">
     <div class="carousel-fixed-item center">
       <a class="btn waves-effect white grey-text darken-text-2">button</a>
     </div>
     <div class="carousel-item white-text" href="#one!">
       <img src="foot_fetish.jpg">
       <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
     </div>
   </div>
  </body>
</html>
