<!DOCTYPE html>
<html lang="en">
<head>

</head>
  <body class='static'>
    <div class='button-wrapper'>
      <div class="row center " >
          <a href="/users/new" id="download-button" class="btn-large waves-effect #e53935 red darken-1
">Get started</a>
      </div>
    </div>
  </body>
</html>
