/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   height: 100%;
   margin: 0;
   padding: 0;
 }

 #map {
   height: 400px;
   width: 100%;
   margin-bottom: 50px;
  }

 img.profile-pic {
   min-width: 5%;
   min-height: 60%;
   max-width: 9%;
   max-height: 90%;

 }

 div.profile-pic {
   margin-left: 30%
 }

 img.profile-pic-show-view {
   max-width: 28%;
   height: auto;
 }

 div.profile-show {
   margin-left: 23%;
 }

div.rundown {
  margin-left: 20%;
}

div.new-search-form {
  margin-left: 30%;
}

.errors {
  color: red;
  line-height: 1.5em;
}

ul#errors {
  color: red;
  line-height: 1.5em;
  font-size: 12;
}
