h1 {
  margin: auto;
}

ul.errors {
 margin-right: auto;
 margin-bottom: 0;
 margin-top: 0.5%;
}

ul.errors li {
  line-height: 1.4em;
}

#rundown-header {
  font-weight: 700;
}

div.home_info {
  font-weight: 700;
  font-size: 1.5em;
}

div.location_info {
  font-weight: 700;
  font-size: 1.5em;
}
