div#new-user-form {
  margin-left: 42%;
  padding-top: 5%;
}

div.new-user-form {
  margin-left: 25%;
}

div.sign-up-link {
  margin-left: 22%;
}

#create-account-btn {
  margin-left: 30%;
}

p.returning-user-link {
  margin-left: 25%;
}
