div#new-user-form {
  margin-left: 23%;
  margin-right: auto;
}

h2#title-new-user {
  margin-left: 25%;
  margin-right: auto;
  margin-bottom: 0;
}
div#create-account-btn {
  margin-left: 33%;
  margin-right: auto;
}

p.returning-user-link {
  margin-left: 29%;
  margin-right: auto;
}

ul.errors {
 margin-left: 34%;
 margin-right: auto;
 margin-bottom: 0;
 margin-top: 0.5%;
}

ul.errors li {
  line-height: 1.4em;
}
